<div class="menu-section">
  <div class="container">

        <div class="row">
            <div class="logo">
              <p> KNOX</p>
            </div>

              <div class="menu-bar">
                <ul>
                  <li>
                      <a class="btn btn-dark" routerLink="/MyProfile">
                        <img id="AccountImg" alt="account" src="assets/account.png"/>
                        Mein Profil
                      </a>
                      <a class="btn btn-dark" routerLink="/Login">Abmelden</a>    
                  </li>
                </ul>
              </div>
        </div>
    </div> <!-- end container -->
    <button class="btn btn-dark" routerLink="/home">Zurück</button>
  </div> <!--end menu-section-->

<div id="body">            
  <!-- mittlerer Teil -->
  
  <div class = "col">
      
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-middle">
            <div class="panel-heading"> <b> 
                <img id="buildingImg" alt="building" src="assets/account.png"/>
                 Hallo Klaus-Peter!</b> </div>
              <div class="panel-body">
                Du hast 1 von 32981 möglichen Punkten in den Quizzen gesammelt. Level 1: Du bist ein Noob. <br><br>
             Einstellungen <br>
             Meine Posts <br>
             Passwort ändern <br>
             Irgendwann vllt auch mal auf englisch umstellen<br>
              </div> 
          </div> 
        </div> 
      </div> 
    </div> 

    <div class="footer-section">
      <div class="container">
        <div class="row">
          <div class="foot-com foot-1">
            <a routerLink="/Impressum">Impressum und Kontakt</a>
            <a routerLink="/AboutUs">Über uns</a>
          </div>
        </div>
      </div>
    </div>


</div> <!-- end body-->